{% extends "base.html" %}
{% block content %}
		<div class="jumbotron">
			<h1 class="display-3">What Is Sentiment Analysis?</h1>
			<hr class="m-y-md">
			<p>Sentiment analysis is a data mining process that determines subjective messages within text. Through categorizing word values and contextual meaning, sentiment analysis identifies a statement as positive, neutral, or negative in order to understand the emotional tone and opinion that is being communicated.</p>
		<p>With social media becoming exponentially influential, data from such platforms provide valuable insight on how the public responds to the USMA Band. Sentiment analysis can be useful in determining the tone of public response that the Band generates as well as the emotions and opinions it elicits. Such data is helpful in furthering a positive sphere of public influence from the Band in remaining an origin of pride as it upholds Duty, Honor, and Country. </p>
		</div>
{% endblock %}
